<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../public/index.css">
    <script type="text/javascript" src="../public/jquery.js"></script>
</head>
<body>
    <div class="main">
        <div class="header">onlineShop</div>
        <div class="filter">
            <div class="search">
                <div class="input">
                    <input type="text" name="">
                </div>
                <div class="btn">
                    <button>查 询</button>
                </div>
            </div>
            <div class="add">
                <button>添加商铺</button>
            </div>
        </div>
        <div class="content">
            <table border="1" cellpadding='0' cellspacing='0'>
                <tr>
                    <th>name</th>
                    <th>image</th>
                    <th>create time</th>
                    <th>creator</th>
                    <th>number</th>
                    <th>operator</th>
                </tr>
                <tr>
                    <td>clouth</td>
                    <td>image</td>
                    <td>2020-06-08 20:00:00</td>
                    <td>admin</td>
                    <td>30</td>
                    <td class="operator">
                        <span>delete</span>
                        <span>edit</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
<script type="text/javascript">
    function addShopFn(){
        alert("添加")
        // $.ajax({
        //     type:'post',
        //     url:"",

        // })
    }
</script>
</html>