.main{
	width:800px;
	margin:0 auto;
}
.main .header{
	width:100%;
	height:34px;
	line-height: 34px;
	font-size:30px;
	padding:20px 10px;
}
.main .header .logout{
	font-size:18px;
	cursor: pointer;
}
.main .header .user{
	font-size:18px;
	margin-right:12px;
}
.main .header .logout:hover{
	color:#8758f7;
}
.main .filter {
	padding: 10px 0;
	display: flex;
}
.main .filter .add{
	margin-left:30px;
}

.main .filter .add button{
	width:78px;
	height:34px;
	outline: none;
	background: #8c8e8b;
	border: none;
	cursor: pointer;
	color: #fff;
	border-radius: 4px;
}
.main .filter .search{
	width:300px;
	height:34px;
	display: flex;
	border:1px solid #ddd;
	border-radius: 4px;
	overflow: hidden;
}
.main .filter .search form{
	display:flex;
}
.imgBox img{
	width:80px;
}
.main .filter .search .input{
	height:32px;
	line-height:32px;
	padding-left:4px;
	width: 218px;
}

.main .filter .search .input input{
	width:220px;
	height:34px;
	line-height:34px;
	outline: none;
	border:none;
	font-size: 24px;
	color:#333;
}
.main .filter .search .btn button{
	width:78px;
	height:34px;
	outline: none;
	background: #8c8e8b;
	border: none;
	cursor: pointer;
	color: #fff;
}
.main .filter .search .btn button:hover{
	background: #6a7365;
}
.main .content tr{
	height:34px;
}
.main .content tr td,
.main .content tr th{
	min-width: 100px;
	padding:0 10px;	
}
.main .content .operator{
	color:green;
	cursor: pointer;
}
.main .content .form div{
	width:300px;
	height:34px;
	line-height: 34px;
	
	margin-top:10px;
}
.main .content .form div input{
	width:300px;
	display: block;
	height:32px;
	line-height: 32px;
	outline: none;
	border:none;
	border:1px solid #ddd;
	padding-left:4px;
}
.main .content .form div input[type='submit']{
	width:100px;
	margin:0 auto;
	cursor: pointer;
	color:#fff;
	background: #979a95;
}
.main .content .form div input[type='submit']:hover{
	background: #6a7365
}